# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex Auxillary files
*.aux
*.bbl
*.blg
*.synctex.gz
*.log
*.fls
*.fdb_latexmk
*.loa
*.lof
*.thm
*.toc

build/
.vscode/

data/

report/plots/
report/report.csv